/* colors here */
.gray-clr {
  color: #d3d3d3;
}

.gray-bg {
  background: #d3d3d3;
}

.lt-gray-clr {
  color: #f3f3f3;
}

.lt-gray-bg {
  background: #f3f3f3;
}

.red-clr {
  color: #ec5242;
}

.red-bg {
  background: #ec5242;
}

.black-clr {
  color: #272131;
}

.black-bg {
  background: #272131;
}

.lt-blue-clr {
  color: #0f4275;
}

.lt-black-bg {
  background: #1234565c;
}

/* fonts here */

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-20 {
  font-size: 20px;
}

.font-15 {
  font-size: 15px;
}

.font-35 {
  font-size: 20px;
}

.w-90 {
  width: 90%;
}

.bd-section {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

/* index here */
/* service section */
.logo-a {
  height: 50px;
}

.my-jumbo {
  padding: 5rem;
  min-height: 85vh;
  background: linear-gradient(to bottom right, #525252ba, #080808d1),
    url(../images/back5.jpg);
  background-size: cover;
}

.jumbo-content {
  width: 60%;
}

.jumbo-para-1 {
  border-left: 25px solid rgb(236, 82, 66);
  border-right: 1px solid #ec524261;
  border-top: 1px solid #ec524261;
  border-bottom: 1px solid #ec524261;
}

.topic-h2 {
  font-size: 22px;
  padding: 5px 0;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  margin: 0 auto;
  /* box-shadow: 0px 0px 7px 1px #c1c1c1; */
  background: #f3f3f3;
  color: #ec5242;
}

.services {
  background: linear-gradient(to bottom right, #00000040, #00000063),
    url(../images/back6.jpg);
}

.service-section {
  padding: 20px;
  width: 85%;
  /* margin: 0 auto; */
}

.service-card {
  box-shadow: 0px 0px 3px 1.5px #d3d3d3;
  background: #272131a6;
}

.ser-h4 {
  padding: 10px 22px;
  margin: 0 auto;
}

/* speaker section */
/* .speakers { */
/* width: 90%; */
/* } */

.sp-img-div {
  height: 105px;
  /* width: 105px; */
}

.sp-img {
  border-radius: 7px;
}

.sp-title {}

.media {
  border-bottom: 1px solid #d3d3d3;
}

.partners {
  background: linear-gradient(to bottom right, #ffffffba, #ffffffd1),
    url(../images/back3.jpg);
}

.pt-img {
  width: 100%;
  height: 100%;
}

.ft-img-div {
  height: 150px;
}

/* About page begins here */
.in-body {
  width: 70%;
}

.past-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* // Medium devices (tablets, 768px and down) */
@media (max-width: 767px) {
  .my-jumbo {
    padding: 2rem;
    min-height: 70vh;
    text-align: center;
  }

  .jumbo-content {
    width: 100%;
  }

  .section-div {
    width: 100%;
  }

  .sp-img-div {
    height: 85px;
    /* width: 105px; */
  }

  .pt-div {
    font-size: 16px;
  }

  /* about page starts here */
  .in-body {
    width: 90%;

  }
}