/* colors here */
.gray-clr {
  color: #d3d3d3;
}

.gray-bg {
  background: #d3d3d3;
}

.red-clr {
  color: #ec5242;
}

.red-bg {
  background: #ec5242;
}

.black-clr {
  color: #272131;
}

.black-bg {
  background: #272131;
}

.lt-black-clr {
  color: #1234565c;
}

.lt-black-bg {
  background: #1234565c;
}

/* fonts here */

.font-13 {
  font-size: 13px;
}

.font-20 {
  font-size: 20px;
}

.font-15 {
  font-size: 15px;
}

.font-35 {
  font-size: 35px;
}

/* index here */
/* service section */
.my-jumbo {
  padding: 5rem;
  min-height: 85vh;
  background: linear-gradient(to bottom right, #4b4b4bab, #610000c9), url(../images/back6.jpg);
  background-size: cover;
}

.jumbo-content {
  width: 60%;
}

.jumbo-para-1 {
  box-shadow: 4px 5px 0px black;
}

.topic-h2 {
  font-size: 22px;
  padding: 5px 0;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  margin: 0 auto;
  box-shadow: 0px 0px 7px 1px #c1c1c1;
  background: #d3d3d3;
  color: #ec5242;
}

.services {
  background: linear-gradient(to bottom right, #4b4b4bab, #610000c9), url(../images/back6.jpg);

}

.service-section {
  padding: 20px;
  /* width: 75%; */
  /* margin: 0 auto; */
}

.service-card {
  box-shadow: 0px 0px 5px 5px #c1c1c1;
}

.ser-h4 {
  padding: 10px 22px;
  margin: 0 auto;
}

/* speaker section */
.sp-img-div {
  height: 120px;
  width: 120px;
}

.sp-title {}

/* // Medium devices (tablets, 768px and down) */
@media (max-width: 767px) {
  .my-jumbo {
    padding: 2rem;
    min-height: 70vh;
    text-align: center;
  }

  .jumbo-content {
    width: 100%;
  }
}